body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 700px;
  gap: 100px 20px;
}

.grid > div {
  display: flex;
  flex-direction: column;
}

.grid > div > p {
  background-color: red;
  height: 500px;
}
